// fonts
/* ---------------------------------------------------
    GOOGLE FONTS
----------------------------------------------------- */

/* vietnamese */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG14mBkho.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG18mBkho.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG1EmBg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG14mBkho.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG18mBkho.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG1EmBg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG14mBkho.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG18mBkho.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG1EmBg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG14mBkho.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG18mBkho.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG1EmBg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG14mBkho.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG18mBkho.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/signika/v20/vEFR2_JTCgwQ5ejvG1EmBg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* default fonts */
$font-base-family: 'Signika, sans-serif';
$font-monospace: 'Signika, sans-serif';
$font-weight-regular-text: 400;
$font-weight-bold: 500;

@import '../scss/settings';
@import '../scss/base';
// Patterns

@import '../scss/patterns_accordion';
@import '../scss/patterns_article-pagination';
@import '../scss/patterns_breadcrumbs';
@import '../scss/patterns_buttons';
@import '../scss/patterns_card';
@import '../scss/patterns_chip';
@import '../scss/patterns_badge';
@import '../scss/patterns_code-snippet';
@import '../scss/patterns_contextual-menu';
@import '../scss/patterns_divider';
@import '../scss/patterns_form-help-text';
@import '../scss/patterns_form-validation';
@import '../scss/patterns_form-tick-elements';
@import '../scss/patterns_form-password-toggle';
@import '../scss/patterns_forms';
@import '../scss/patterns_grid';
@import '../scss/patterns_heading-icon';
@import '../scss/patterns_headings';
@import '../scss/patterns_icons';
@import '../scss/patterns_image';
@import '../scss/patterns_links';
@import '../scss/patterns_list-tree';
@import '../scss/patterns_lists';
@import '../scss/patterns_logo-section';
@import '../scss/patterns_matrix';
@import '../scss/patterns_media-object';
@import '../scss/patterns_modal';
@import '../scss/patterns_muted-heading';
@import '../scss/patterns_navigation';
@import '../scss/patterns_notifications';
@import '../scss/patterns_pagination';
@import '../scss/patterns_pull-quotes';
@import '../scss/patterns_search-and-filter';
@import '../scss/patterns_search-box';
@import '../scss/patterns_separator';
@import '../scss/patterns_side-navigation';
@import '../scss/patterns_side-navigation-expandable';
//@import '../scss/patterns_slider';
@import '../scss/patterns_status-label';
@import '../scss/patterns_strip';
@import '../scss/patterns_switch';
@import '../scss/patterns_segmented-control';
@import '../scss/patterns_table-icons';
@import '../scss/patterns_table-expanding';
@import '../scss/patterns_table-of-contents';
@import '../scss/patterns_table-mobile-card';
@import '../scss/patterns_table-sortable';
@import '../scss/patterns_tabs';
@import '../scss/patterns_tooltips';

// Layouts
//@import '../scss/layouts_application';
//@import '../scss/layouts_site';
@import '../scss/layouts_fluid-breakout';

// Utilities
@import '../scss/utilities_animations';
@import '../scss/utilities_baseline-grid';
@import '../scss/utilities_clearfix';
@import '../scss/utilities_content-align';
@import '../scss/utilities_embedded-media';
@import '../scss/utilities_equal-height';
@import '../scss/utilities_floats';
@import '../scss/utilities_font-metrics';
@import '../scss/utilities_hide';
@import '../scss/utilities_image-position';
@import '../scss/utilities_layout';
@import '../scss/utilities_margin-collapse';
@import '../scss/utilities_max-width';
@import '../scss/utilities_muted-text';
@import '../scss/utilities_off-screen';
@import '../scss/utilities_padding-collapse';
@import '../scss/utilities_show';
@import '../scss/utilities_truncate';
@import '../scss/utilities_vertical-spacing';
@import '../scss/utilities_vertically-center';
@import '../scss/utilities_no-print';

// Include all the CSS
@include vf-base;
// Patterns
@include vf-p-accordion;
@include vf-p-article-pagination;
@include vf-p-breadcrumbs;
@include vf-p-buttons;
@include vf-p-card;
@include vf-p-chip;
@include vf-p-badge;
@include vf-p-code-snippet;
@include vf-p-contextual-menu;
@include vf-p-divider;
@include vf-p-form-help-text;
@include vf-p-form-validation;
@include vf-p-form-tick-elements;
@include vf-p-forms;
@include vf-p-grid;
@include vf-p-heading-icon;
@include vf-p-headings;

@include vf-p-form-password-toggle;
@include vf-p-icons;
@include vf-p-image;
@include vf-p-links;
@include vf-p-list-tree;
@include vf-p-lists;
@include vf-p-logo-section;
@include vf-p-matrix;
@include vf-p-media-object;
@include vf-p-modal;
@include vf-p-muted-heading;
@include vf-p-navigation;
@include vf-p-notification;
@include vf-p-pagination;
@include vf-p-pull-quotes;
@include vf-p-search-and-filter;
@include vf-p-search-box;
@include vf-p-segmented-control;
@include vf-p-separator;
@include vf-p-side-navigation;
@include vf-p-side-navigation-expandable;
//@include vf-p-slider;
@include vf-p-status-label;
@include vf-p-strip;
@include vf-p-switch;
@include vf-p-table-icons;
@include vf-p-table-expanding;
@include vf-p-table-of-contents;
@include vf-p-table-mobile-card;
@include vf-p-table-sortable;
@include vf-p-tabs;
@include vf-p-tooltips;

// Layouts
//@include vf-l-application;
//@include vf-l-site;
@include vf-l-fluid-breakout;

// Utilities
@include vf-u-align;
@include vf-u-animations;
@include vf-u-baseline-grid;
@include vf-u-clearfix;
@include vf-u-embedded-media;
@include vf-u-equal-height;
@include vf-u-floats;
@include vf-u-image-position;
@include vf-u-layout;
@include vf-u-margin-collapse;
@include vf-u-no-max-width;
@include vf-u-off-screen;
@include vf-u-padding-collapse;
@include vf-u-truncate;
@include vf-u-text-muted;
@include vf-u-vertical-spacing;
@include vf-u-vertically-center;
@include vf-u-hide; // import after vf-u-vertically-center as both set the display property
@include vf-u-show;
@include vf-u-visualise-baseline;
@include vf-u-no-print;